<div class="row">
  <div class="row">
    <div class="row">
      <div class="col-md-2 text-right">
        <span><%= t "phases.name" %></span>
      </div>
      <div class="col-md-7">
        <%= f.text_field :phase_name, class: "form-control", required: true %>
      </div>
    </div><br>
    <div class="row">
      <div class="col-md-2 text-right">
        <span><%= t "phases.description" %></span>
      </div>
      <div class="col-md-7">
        <%= f.text_area :description, class: "form-control", required: true %>
      </div>
    </div><br>

  </div><br>
  <div class="col-md-2 col-md-offset-2">
    <%= f.submit (f.object.new_record? ? t("buttons.create")
        : t("buttons.update")), class: "btn btn-primary" %>
  </div>
</div>
