<div id="phases">
  <div class="title"><%= t "layout.phases" %></div>
  <div class="row col-md-10 col-md-offset-1 custyle">
    <table class="table table-striped custab">
      <thead>
        <%= link_to t("buttons.new"), "#",
          data: {toggle: "modal", target: "#PhaseModal"},
          class: "btn btn-primary pull-right"%>
        <%= render "phase_modal" %>
        <tr>
          <th><%= t "phases.table.stt" %></th>
          <th><%= t "phases.table.name" %></th>
          <th><%= t "phases.table.description" %></th>
          <th><%= t "phases.table.action" %></th>
        </tr>
      </thead>
      <% @phases.each.with_index do |phase, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= phase.phase_name %></td>
          <td><%= phase.description %></td>
          <td>
            <%= link_to t("phases.buttons.edit"),
              edit_admin_phase_path(phase),
              class: "text-primary" %>&nbsp;
            <%= link_to t("phases.buttons.delete"),
              admin_phase_path(phase), method: :delete,
              data: {confirm: t("delete.confirm")}, class: "text-danger" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
