<%= form_for @work_performance, url: admin_project_sprint_work_performance_path(@project,
  @sprint, @work_performance), remote: true, html: {role: "form"},
  method: :patch do |f| %>
  <div id="error_explanation" class="bg-danger text-danger">
  </div>
  <div class="row">
   <div class="col-sm-12">
    <div class="form-group">
      <%= f.label :description, class: "control-label" %>
      <%= f.text_field :description, class: "form-control first_input"  %>
    </div>
    <div class="form-group">
      <%= f.label :actual, class: "control-label" %>
      <%= f.text_field :actual, class: "form-control" %>
    </div>
    <div class="form-group">
    <%= f.submit t "work_performances.update", class: "btn btn-primary" %>
  </div>
  </div>
<% end %>
