<%= form_for @work_performance, url: admin_project_sprint_work_performance_path(@project,
  @sprint, @work_performance), remote: true, html: {role: "form"},
  method: :patch do |f| %>
  <div id="error_explanation" class="bg-danger text-danger">
  </div>
  <div class="row">
   <div class="col-sm-12">
    <div class="form-group">
      <div class="form-group">
        <%= f.label :activity, class: "control-label" %>
        <p class: "form-control-static"><%= f.object.activity.subject %></p>
      </div>
      <%= f.label :description, class: "control-label" %>
      <%= f.text_field :description, class: "form-control first_input"  %>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :plan, class: "control-label" %>
        <%= f.number_field :plan, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :spent_hour, class: "control-label" %>
        <%= f.number_field :spent_hour, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :burned_hour, class: "control-label" %>
        <%= f.number_field :burned_hour, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :estimated_story, class: "control-label" %>
        <%= f.number_field :estimated_story, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :burned_story, class: "control-label" %>
        <%= f.number_field :burned_story, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :estimated_task, class: "control-label" %>
        <%= f.number_field :estimated_task, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
    <%= f.submit t "work_performances.update", class: "btn btn-primary" %>
  </div>
  </div>
<% end %>
