<tbody id="data-table">
  <% sprint.tasks.each_with_index do |task, index| %>
    <tr>
      <td class="index"><%= index + 1 %></td>
      <td class="left"><%= task.subject %></td>
      <td class="assignee"><%= task.user_name %></td>
      <% sprint.master_sprints.each do |day_sprint| %>
        <td class="value wpd-master-sprint-<%= day_sprint.id %>
            task-id-<%= task.id %>">
          <% task.work_performances.in_day(phase, day_sprint).each do |wpm| %>
            <p class="task-<%= wpm.task_id %>-wpd-<%= wpm.id %>"><%= wpm.performance_value %></p>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
  <tr class="total_performance">
    <td colspan="3"><%= t "work_performances.total" %></td>
    <% sprint.master_sprints.each do |day_sprint| %>
      <td class="total-wpd-in-day-<%= day_sprint.id %>">
      <%= total_performances phase, sprint, day_sprint %>
      </td>
    <% end %>
  </tr>
</tbody>
