<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">
    <i class="glyphicon glyphicon-pencil"></i>
    <%= t "work_performances.dialog_title" %>
  </h3>
</div>
<div class="modal-body">
  <%= form_for [@project, @sprint, @work_performance], html: {id: "form-input-wpd",
    data: {project: @project.id}} do |f| %>
    <div id="error_explanation" class="bg-danger text-danger">
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <%= f.hidden_field :sprint_id, value: @sprint.id %>
        <label><%= t "work_performances.user_name" %></label><br>
        <%= f.select :user_id, @sprint.users.collect {|user| [user.name, user.id]},
          {}, {class: "form-control"} %>
        <br>
        <%= f.label :task %><br>
        <%= f.select :task_id,
          @sprint.tasks.collect {|a| [a.subject, a.id]}, {}, {class: "form-control"} %>
        <br>
        <label><%= t "work_performances.day" %></label><br>
        <%= f.select :master_sprint_id,
          @sprint.master_sprints.collect {|day| [("Day "+day.day.to_s+" - "+day.date.to_s(:long)), day.id]},
          {selected: @sprint.master_sprints.in_today.first.id},
          {class: "form-control"} %>
        <br>
        <label><%= t "work_performances.item_name" %></label><br>
        <%= f.select :item_performance_id,
          @sprint.item_performances.collect {|item| [item.name, item.id]},
          {}, {class: "form-control"} %>
        <br>
        <label><%= t "work_performances.value" %></label><br>
        <%= f.number_field :performance_value, min: 0, class: "form-control" %>
        <br>
        <hr>
        <div class="form-group submit_update">
          <%= f.submit t("work_performances.save"), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
