<%= render "shared/category_tab", project: @project, active_tab: @sprint.id, f: nil %>
  <div id="wrapper">
    <div class="row">
      <div id="performance_chart"></div>
      <div id="work-performance-datas">
        <table class="table table-striped tbl-work-performance-datas">
          <thead>
            <tr>
              <th class="th"></th>
              <th class="activity"><%= t "table.thead.activity" %></th>
              <th class="assigned"><%= t "table.thead.assigned" %></th>
              <% @sprint.project_phases.each do |phase| %>
                <th colspan="7" class="phase-name"><%= phase.phase_name %></th>
              <% end %>
            </tr>
            <tr>
              <th class="th"></th>
              <th class="activity"></th>
              <th class="assigned"></th>
              <% @sprint.project_phases.each do |phase| %>
                <% @sprint.item_performances.each do |item| %>
                  <th class="phase-value" title="<%= item.name %>">
                    <%= item.name %>
                  </th>
                <% end %>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @activities.each_with_index.map do |activity, index| %>

            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<%= render "dialog" %>
