<%= render "shared/category_tab", project: @project, active_tab: @sprint.id, f: nil %>
  <div id="wrapper">
    <div class="row">
      <div class="row">
        <div id="performance_chart" data-project="<%= @project.id %>"
          data-sprint="<%= @sprint.id %>">
        </div>
        <div class="chart-type">
          <% if Activity.of_user_in_sprint(current_user, @sprint).any? %>
            <%= link_to t("work_performances.submitwpd"), "",
              class: "btn btn-primary", id: "create-work-performance", type: "button",
              data: {project: @project.id, sprint: @sprint.id,
              toggle: "modal", target: "#dialog"} %>
          <% end %>

          <i id="user-reset" class="glyphicon glyphicon-refresh"></i><br><br>
          <% ItemPerformance.chart_types.each do |key, value| %>
            <%= radio_button_tag "chart_type", value, class: "chart_type_radio" %>
            <%= key.humanize.capitalize %>
            <br>
          <% end %>
          <%= radio_button_tag "chart_type", "", class: "chart_type_radio" %>
          <%= t "item_performances.showall" %><br>
          <br>
          <% @sprint.users.each do |user| %>
            <%= check_box_tag "user-select-id-#{user.id}",
              user.id, true, class: "user-select" %>
            <%= user.name %><br>
          <% end %>
        </div>
      </div>
      <div id="work-performance-datas">
        <table class="table table-striped tbl-work-performance-datas">
          <thead>
            <tr>
              <th class="th"></th>
              <th class="activity"><%= t "table.thead.activity" %></th>
              <th class="assigned"><%= t "table.thead.assigned" %></th>
              <% @sprint.project_phases.each do |phase| %>
                <th colspan="10" class="phase-name"><%= phase.phase_name %></th>
              <% end %>
            </tr>
            <tr>
              <th class="th"></th>
              <th class="activity"></th>
              <th class="assigned"></th>
              <% @sprint.project_phases.each do |phase| %>
                <% @sprint.master_sprints.each do |day_sprint| %>
                  <th class="phase-value" title="<%= day_sprint.day %>">
                    <%= day_sprint.day %>
                  </th>
                <% end %>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @activities.each_with_index.map do |activity, index| %>
              <tr>
                <td class="th"><%= index + 1 %></td>
                <td class="left">
                  <%= link_to "#{activity.subject}", "#", remote: true %>
                </td>
                <td class="assigned"><%= activity.user_name %></td>
                <% @sprint.project_phases.each do |phase| %>
                  <% @sprint.master_sprints.each do |day_sprint| %>
                    <td>
                      <% activity.work_performances.in_day(day_sprint).each do |wpm| %>
                        <%= wpm.performance_value %> <br>
                      <% end %>
                    </td>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<%= render "dialog" %>
