<div class="pull-right">
  <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-plus"),
    columns_path({master_sprint: {sprint_id: @sprint.id}}),
    class: "btn btn-xs btn-primary pull-right",
    id: "add-more-column",
    type: "button", method: :post, remote: true,
    title: "Add more column" %>
</div>
<div class="row">
  <div class="col-md-12">
    <%= f.hidden_field :work_day, value: @sprint.work_day, class: "work_day" %>
    <table id="activities" class="table table-bordered" >
      <tbody>
        <%= render "shared/header" %>
        <%= f.fields_for :activities, @sprint.activities do |activity_builder| %>
          <%= render "shared/row", activity_builder: activity_builder,
            row: activity_builder.index,
            type: activity_class(activity_builder.object), f: f %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-12">
    <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-plus"),
      "javascript:void(0)", class: "btn btn-primary", id: "load_more",
      type: "button" %>
  </div>
</div>
