<div>
  <div class="col-md-12" id="category-tab">
    <nav class="navbar navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-plus"),
            new_admin_project_sprint_path(@project) %>
        </div>
        <div id="sprint-view">
          <ul class="nav navbar-nav" id="scroll">
            <% unless current_user.member? %>
              <li role="presentation" class="<%= tab_active Settings.tabs.overview_project, active_tab %>">
                <%= link_to t("projects.overview"), admin_project_path(project) %>
              </li>
              <li role="presentation" id="pb_tab_show" class="<%= tab_active Settings.tabs.project_backlog, active_tab %>">
                <%= link_to t("product_backlog.title"), project_product_backlogs_path(project) %>
              </li>
              <% project.sprints.each do |sprint| %>
                <li role="presentation" class="<%= tab_active sprint.id, active_tab %>">
                  <%= link_to sprint.name, project_sprint_path(project, sprint) %></li>
              <% end %>
            <% else %>
              <li role="presentation" class="<%= tab_active Settings.tabs.overview_project, active_tab %>">
                <%= link_to t("projects.overview"), project_path(project) %>
              </li>
              <li role="presentation" id="pb_tab_show" class="<%= tab_active Settings.tabs.project_backlog, active_tab %>">
                <%= link_to t("product_backlog.title"), project_product_backlogs_path(project) %>
              </li>
              <% @sprints.each do |sprint| %>
                <% if project.sprints.include? sprint%>
                  <li role="presentation" class="<%= tab_active sprint.id, active_tab %>">
                    <%= link_to sprint.name, project_sprint_path(project, sprint) %>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="scroll">
          <ul class="nav navbar-nav">
            <li id="left">
              <%= link_to content_tag(:span, "",
                class: "glyphicon glyphicon-triangle-left"), "#" %>
            </li>
            <li id="right">
              <%= link_to content_tag(:span, "",
              class: "glyphicon glyphicon-triangle-right"), "#" %>
            </li>
          </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if f %>
            <h5  id="notify-message" class="pull-left"></h5>
          <% end %>

          <% if @sprint.present? && @sprint.persisted? %>
            <li class="dropup">
              <button id="dLabel" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" class="btn btn-default">
                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <% if can? :edit, @sprint %>
                  <li>
                    <%= link_to t("buttons.edit"),
                      edit_admin_project_sprint_path(@project, @sprint) %>
                  </li>
                  <li>
                    <%= link_to t("buttons.delete"),
                      admin_project_sprint_path(@project, @sprint),
                      method: :delete, data: {confirm: t("projects.delete.confirm")} %>
                  </li>
                  <li>
                    <%= link_to t("work_performances.view"),
                      admin_project_sprint_work_performances_path(@project, @sprint) %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to t("work_performances.view"),
                      project_sprint_work_performances_path(@project, @sprint) %>
                  </li>
                <% end %>
              </ul>
              </li>
          <% elsif @sprint.nil? && @sprints.nil? %>
            <div class="button">
              <li class="dropup">
                <button id="dLabel" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"
                  class="btn btn-default">
                  <span class="glyphicon glyphicon-align-justify"
                    aria-hidden="true"></span>
                </button>
                <ul class="dropdown-menu"
                  aria-labelledby="dLabel">
                  <li>
                    <%= link_to t("buttons.edit"), edit_admin_project_path %>
                  </li>
                  <li>
                    <%= link_to t("buttons.delete"), admin_project_path, method: :delete,
                      data: {confirm: t("projects.delete.confirm")} %>
                  </li>
                </ul>
              </li>
            </div>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</div>
