<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <% unless current_user.member? %>
        <li role="presentation" class="<%= tab_active Settings.tabs.overview_project, active_tab %>">
          <%= link_to t("projects.overview"), admin_project_path(project) %>
        </li>
        <% project.sprints.each do |sprint| %>
          <li role="presentation" class="<%= tab_active sprint.id, active_tab %>">
            <%= link_to sprint.name, project_sprint_path(project, sprint) %></li>
        <% end %>
        <li role="presentation" class="<%= tab_active Settings.tabs.new_sprint, active_tab %>">
          <%= link_to t("sprints.new"), new_admin_project_sprint_path(@project) %></li>
      <% else %>
        <li role="presentation" class="<%= tab_active Settings.tabs.overview_project, active_tab %>">
          <%= link_to t("projects.overview"), project_path(project) %>
        </li>
        <% @sprints.each do |sprint| %>
          <% if project.sprints.include? sprint%>
            <li role="presentation" class="<%= tab_active sprint.id, active_tab %>">
              <%= link_to sprint.name, project_sprint_path(project, sprint) %>
            </li>
          <% end %>
        <% end %>
      <% end %>
      <li role="presentation" id="pb_tab_show" class="<%= tab_active Settings.tabs.
        project_backlog, active_tab %>">
        <%= link_to t("product_backlog.title"), project_product_backlogs_path(project) %>
      </li>
      <% if f %>
        <li class="pull-right">
          <div class="col-md-1">
            <%= f.submit t("buttons.save"), class: "btn btn-success" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
