<tr class="master-data">
  <td rowspan="2" colspan="3" class="left-side" ></td>
  <td class="start-date"><%=  t "activities.start_date"%></td>
  <td colspan="5"><%= l @sprint.start_date %></td>
</tr>
<tr class="master-data-date">
  <td></td>
  <td><%= t "activities.date" %></td>
    <%= f.fields_for :master_sprints, @sprint.master_sprints do |master_sprints_builder| %>
      <td class="panel-left <%= "today" if master_sprints_builder.object.is_today? %>">
        <%= master_sprints_builder.hidden_field :date %>
        <input type="text" class="master-sprint-day"
          value="<%= master_sprints_builder.object.date.day %>"/>
      </td>
    <% end %>
</tr>
<tr class="master-sprint-working-day">
  <th rowspan="3" class="story-id" >
    <%= t "activities.story_id" %>
  </th>
  <th rowspan="3" class="task-id" >
    <%= t "activities.task_id" %>
  </th>
  <th rowspan="3" class="task-name" >
    <%= t "activities.task_name" %>
  </th>
  <th class="sprint-worked" >
    <span data-toggle="tooltip" title="Worked" data-placement="right">
      <%= t "activities.worked" %>
    </span>
  </th>
  <th class="sprint-remaining" >
    <span data-toggle="tooltip" title="Remaining" data-placement="right">
      <%= t "activities.remaining" %>
    </span>
  </th>
  <% @sprint.master_sprints.each do |master_sprint| %>
    <th class="panel-left"><%= master_sprint.day %></th>
  <% end %>
</tr>
<tr class="master-estimate-plan">
  <th class="panel-left worked-percent"><%= @estimate.get_percent_worked %></th>
  <th class="panel-left remaining-percent"><%= @estimate.get_percent_remaining %></th>
  <% @sprint.master_sprints.each_with_index do |_, index| %>
    <% if index == 0 %>
      <th class="panel-left log-actual-<%= index + 1 %>"><%= @estimate.get_estimate_activities %></th>
    <% else %>
      <th class="panel-left log-actual-<%= index + 1 %>">
        <%= @estimate.get_time_remaining[index-1] %>
      </th>
    <% end %>
  <% end %>
</tr>
<tr class="actual">
  <th class="panel-left worked"><%= @estimate.get_sum_worked %></th>
  <th class="panel-left remaining-header"><%= @estimate.get_sum_remaining %></th>
  <% @sprint.master_sprints.each_with_index do |_, index| %>
    <% if index == 0 %>
      <th class="panel-left log-estimate-<%= index + 1 %>"><%= @estimate.get_estimate_activities %></th>
    <% else %>
      <th class="panel-left log-estimate-<%= index + 1 %>">
        <%= @log_estimates[index] if @log_estimates.present? %>
      </th>
    <% end %>
  <% end %>
</tr>
