<tr class="master-data">
  <td rowspan="2" colspan="3" style="widtd: 35%; vertical-align: middle;"></td>
  <td style="widtd: 10%; vertical-align: middle;"><%=  t "activities.start_date"%></td>
  <td colspan="5"><%= l @sprint.start_date %></td>
</tr>
<tr class="master-data">
  <td></td>
  <td><%= t "activities.date" %></td>
  <td><input type="text"/></td>
  <% (1..@sprint.work_day).each do |index| %>
    <td class="panel-left"><input type="text"/></td>
  <% end %>
</tr>
<tr>
  <th rowspan="3" style="width: 5%; vertical-align: middle;">
    <%= t "activities.story_id" %>
  </th>
  <th rowspan="3" style="width: 5%; vertical-align: middle;">
    <%= t "activities.task_id" %>
  </th>
  <th rowspan="3" style="width: 25%; vertical-align: middle;">
    <%= t "activities.task_name" %>
  </th>
  <th style="width: 10%;" class="panel-left">
    <span data-toggle="tooltip" title="Worked" data-placement="right">
      <%= t "activities.worked" %>
    </span>
  </th>
  <th style="width: 5%;" class="panel-left">
    <span data-toggle="tooltip" title="Remaining" data-placement="right">
      <%= t "activities.remaining" %>
    </span>
  </th>
  <% (1..@sprint.work_day).each do |index| %>
    <th class="panel-left"><%= index %></th>
  <% end %>
</tr>
<tr>
  <th class="panel-left worked-percent"><%= @estimate.get_percent_worked %></th>
  <th class="panel-left remaining-percent"><%= @estimate.get_percent_remaining %></th>
  <th class="panel-left log-actual-0"><%= @estimate.get_estimate_activities %></th>
  <% (1...@sprint.work_day).each do |index| %>
    <th class="panel-left log-actual-<%= index %>">
      <%= @estimate.get_time_remaining_team[index - 1] %>
    </th>
  <% end %>
</tr>
<tr>
  <th class="panel-left worked"><%= @estimate.get_sum_worked %></th>
  <th class="panel-left remaining-header"><%= @estimate.get_sum_remaining %></th>
  <th class="panel-left log-estimate-0"><%= @estimate.get_estimate_activities %></th>
  <% (1...@sprint.work_day).each do |index| %>
    <th class="panel-left log-estimate-<%= index %>">
      <%= @log_estimates.nil? ? 0 : @log_estimates[index - 1] %>
    </th>
  <% end %>
</tr>
