<% if header_class == "master-sprint-working-day" %>
  <th class="panel-left"><%= @master_sprint.day %></th>
<% elsif header_class == "master-estimate-plan" %>
  <th class="panel-left log-actual-<%= @master_sprint.day %>">
  </th>
<% elsif header_class == "actual" %>
  <th class="panel-left log-estimate-<%= @master_sprint.day %>">
  </th>
<% elsif header_class == "master-data-date" %>
  <td class="panel-left  <%= "today" if @master_sprint.is_today? %>">
    <input type="text" class="master-sprint-day" value="<%= @master_sprint.date.day %>">
    <input type="hidden" value="<%= get_master_sprint_id %>"
      name="sprint[master_sprints_attributes][<%= @master_sprint.day + 1 %>][id]"
      id="sprint_master_sprints_attributes_<%= @master_sprint.day + 1 %>_id">
  </td>
<% end %>
