<td class="panel-left">
  <input value="<%= activity.id %>" type="hidden" name="sprint[log_works_attributes][<%= activity.log_works.size + 1 %>][activity_id]"
    id="sprint_log_works_attributes_<%= activity.log_works.size + 1 %>_activity_id">
  <input type="hidden" name="sprint[log_works_attributes][<%= activity.log_works.size + 1 %>][day]"
    id="sprint_log_works_attributes_<%= activity.log_works.size + 1 %>_day">
  <input class="log log-<%= @master_sprint.day %> row-<%= row %> text-center" value="0"
    name="sprint[log_works_attributes][<%= activity.log_works.size + 1 %>][remaining_time]"
    id="sprint_log_works_attributes_<%= activity.log_works.size + 1 %>_remaining_time">
</td>
