<td class="assignee-col-<%= @master_sprint.day - 1 %>">
  <input value="<%= TimeLog.find_by(assignee: assignee, master_sprint: @master_sprint).id %>" type="hidden" name="sprint[time_logs_attributes][<%= @total_lost_hour + row %>][id]" id="sprint_time_logs_attributes_<%= @total_lost_hour + row %>_id">
  <input value="<%= assignee.id %>" type="hidden" name="sprint[time_logs_attributes][<%= @total_lost_hour + row %>][assignee_id]" id="sprint_time_logs_attributes_<%= @total_lost_hour + row %>_assignee_id">
  <input name="sprint[time_logs_attributes][<%= @total_lost_hour + row %>][lost_hour]"
    id="sprint_time_logs_attributes_<%= @total_lost_hour + row %>_lost_hour">
</td>
