<td class="panel-left">
  <input value="<%= activity.id %>" type="hidden" name="sprint[log_works_attributes][<%= @total_time_log + row %>][activity_id]"
    id="sprint_log_works_attributes_<%= @total_time_log + row %>_activity_id">
  <input value="<%= LogWork.find_by(activity: activity, master_sprint: @master_sprint).id %>" type="hidden" name="sprint[log_works_attributes][<%= @total_time_log + row %>][id]" id="sprint_log_works_attributes_<%= @total_time_log + row %>_id">
  <input class="log log-<%= @master_sprint.day %> row-<%= row %> text-center"
    value="<%= activity.log_works.reload.last.remaining_time %>"
    name="sprint[log_works_attributes][<%= @total_time_log + row %>][remaining_time]"
    id="sprint_log_works_attributes_<%= @total_time_log + row %>_remaining_time">
</td>
