<% @master_sprints.each_with_index do |master_sprint, column| %>
  <td class="panel-left master-column-<%= master_sprint.id %>">
    <input value="<%= task.id %>" type="hidden"
      name="sprint[log_works_attributes][<%= @support_column.total_time_log - row + column %>][task_id]"
      id="log_works_<%= @support_column.total_time_log - row + column %>_task_id">
    <input value="<%= get_log_work_by_activity_master_sprint(task, master_sprint).id %>" type="hidden"
      name="sprint[log_works_attributes][<%= @support_column.total_time_log - row + column %>][id]"
      id="log_works_<%= @support_column.total_time_log - row + column %>_id">
    <input class="log log-<%= master_sprint.day %> row-<%= row %> text-center"
      value="<%= task.log_works.reload.last.remaining_time %>"
      name="sprint[log_works_attributes][<%=  @support_column.total_time_log - row + column %>][remaining_time]"
      id="log_works_<%= @support_column.total_time_log - row + column %>_remaining_time">
  </td>
<% end %>
