<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title text-center"><%= t "sprints.new" %></h3>
</div>
<div class="modal-body">
  <%= form_for [@project, @sprint] do |f| %>
    <%= render "shared/error_messages", object: @sprint %>
    <%= f.hidden_field :project_id, value: @project.id %>

    <div class="row">
      <div class="col-md-3 text-right">
        <span><%= f.label :start_date %>:</span>
      </div>
      <div class="col-md-8">
        <%= f.text_field :start_date, value: @sprint.start_date.nil? ?
          DateTime.now.strftime(t "date.rb_format") : @sprint.start_date.strftime(t "date.rb_format"),
          class: "form-control datepicker" %>
      </div>
      <br>
    </div><br>
    <div class="col-md-3 text-right">
      <%= f.submit t("buttons.create"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
