<tr class="master-data">
  <td></td>
  <td rowspan="2" colspan="3" class="left-side" ></td>
  <td class="start-date underline"><%= t "activities.start_date"%></td>
  <td colspan="5" id="sprint-start-date" class="underline"><%= l @sprint.start_date %></td>
</tr>
<tr class="master-data-date">
  <td class="none-border"></td>
  <td class="none-border"></td>
  <td><%= t "activities.date" %></td>
  <%= f.fields_for :master_sprints, @sprint.master_sprints do |master_sprints_builder| %>
    <td class="date-of-project panel-left master-column-<%= master_sprints_builder.object.id %>
      <%= "today" if master_sprints_builder.object.date.today? %>">
      <%= master_sprints_builder.hidden_field :date,
        class: "#{'newest_master_sprint' if master_sprints_builder.object == @sprint.master_sprints.last}
                #{'first_day' if master_sprints_builder.index == 0} master-sprint-date" %>
      <input type="text" class="master-sprint-day text-center day-<%= master_sprints_builder.object.day %>"
        value="<%= master_sprints_builder.object.date.day %>"/>
    </td>
  <% end %>
</tr>
<tr class="master-sprint-working-day">
  <th rowspan="3" class="index" >
    #
  </th>
  <th rowspan="3" class="story-id" >
    <%= t "activities.story_id" %>
  </th>
  <th rowspan="3" class="task-id" >
    <%= t "activities.task_id" %>
  </th>
  <th rowspan="3" class="task-name" >
    <%= t "activities.task_name" %>
  </th>
  <th class="sprint-worked" >
    <span data-toggle="tooltip" title="Worked" data-placement="right">
      <%= t "activities.worked" %>
    </span>
  </th>
  <th class="sprint-remaining" >
    <span data-toggle="tooltip" title="Remaining" data-placement="right">
      <%= t "activities.remaining" %>
    </span>
  </th>
  <% @sprint.master_sprints.each do |master_sprint| %>
    <th class="panel-left master-column-<%= master_sprint.id %>">
      <%= master_sprint.day %>
    </th>
  <% end %>
</tr>
<tr class="master-estimate-plan">
  <th class="panel-left worked-percent"><%= @estimate.get_percent_worked %></th>
  <th class="panel-left remaining-percent"><%= @estimate.get_percent_remaining %></th>
  <% @sprint.master_sprints.each_with_index do |master_sprint, index| %>
    <% if index == 0 %>
      <th class="panel-left log-actual-1 master-column-<%= master_sprint.id %>">
        <%= @estimate.get_estimate_activities %>
      </th>
    <% else %>
      <th class="panel-left log-actual-<%= index + 1 %> master-column-<%= master_sprint.id %>">
        <%= @estimate.get_time_remaining[index-1] %>
      </th>
    <% end %>
  <% end %>
</tr>
<tr class="actual">
  <th class="panel-left worked"><%= @estimate.get_sum_worked %></th>
  <th class="panel-left remaining-header"><%= @estimate.get_sum_remaining %></th>
  <% @sprint.master_sprints.each_with_index do |master_sprint, index| %>
    <% if index == 0 %>
      <th class="panel-left log-estimate-1 master-column-<%= master_sprint.id %>">
        <%= @estimate.get_estimate_activities %>
      </th>
    <% else %>
      <th class="panel-left log-estimate-<%= index + 1 %> master-column-<%= master_sprint.id %>">
        <%= @log_estimates.present? ? @log_estimates[index] : 0 %>
      </th>
    <% end %>
  <% end %>
</tr>
