<tr class="activity_<%= activity_builder.object.id %> <%= type %>">
  <td class="story">
    <%= activity_builder.select :product_backlog_id,
      options_for_select(@product_backlogs.collect {|p| [p.story, p.id]},
      activity_builder.object.product_backlog_id),
      {include_blank: true}, class: "row-#{row}" %>
  </td>
  <td class="task-id text-center"><%= activity_builder.text_field :task_id,
    class: "row-#{row}" %></td>
  <td class="task-name text-left"><%= activity_builder.text_field :subject,
    class: "row-#{row} subject-activity", title: "#{activity_builder.object.subject}" %></td>
  <td><%= activity_builder.select :user_id,
    options_for_select(@sprint.assignees.collect {|assignee|
    [assignee.user_name, assignee.user_id]}, activity_builder.object.user_id),
    {include_blank: true}, class: "row-#{row} assignee" %></td>
  <td class="panel-left">
    <input type="text" class="remaining row-<%= row %> text-center"
      value="<%= activity_builder.object.get_remaining_activity %>"readonly/>
  </td>
  <%= f.fields_for :log_works,
    activity_builder.object.log_works do |log_work_builder| %>
      <td class="panel-left master-column-<%= log_work_builder.object.master_sprint.id %>">
        <%= log_work_builder.hidden_field :activity_id,
          value: activity_builder.object.id %>
        <%= log_work_builder.hidden_field :id %>
        <%= log_work_builder.text_field :remaining_time,
          class: "log log-#{log_work_builder.object.master_sprint.day} row-#{row} text-center" %>
      </td>
  <% end %>
</tr>
