<div class="row">
  <div class="activities-panel">
    <div class="dropdown-add-column">
      <%= hidden_field_tag :sprint_id, @sprint.id %>
      <div class="dropdown">
        <button class="btn btn-primary btn-xs dropdown-toggle glyphicon glyphicon-plus"
          type="button" data-toggle="dropdown">
        <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-column">
          <% Settings.sprint_add_more_activities.each do |value| %>
            <li class="add-more-column center"><span><%= value %></span></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div>
      <table id="activities" class="table table-bordered" >
        <thead>
          <%= render "header", f: f %>
        </thead>
        <tbody>
          <%= f.fields_for :tasks, @sprint.tasks do |activity_builder| %>
            <%= render "row", activity_builder: activity_builder,
              row: activity_builder.index,
              type: activity_class(activity_builder.object), f: f %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div>
      <div class="dropdown col-md-1" id="add-more-task-in-sprint">
        <button class="btn btn-xs btn-primary dropdown-toggle glyphicon glyphicon-plus"
          type="button" data-toggle="dropdown">
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <% Settings.sprint_add_more_activities.each do |value| %>
            <li class="add-more-sprint-value center"><span><%= value %></span></li>
          <% end %>
        </ul>
      </div>

      <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-floppy-disk"), "#",
        class: "disabled btn btn-xs btn-primary", id: "save-sprint",
        type: "button",  title: t("activities.save") %>
    </div>
  </div>
</div>
