<div class="row">
  <div class="activities-panel">
    <div class="pull-right">
      <%= hidden_field_tag :sprint_id, @sprint.id %>
      <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-plus"),
        "javascript:void(0);",
        class: "btn btn-xs btn-primary pull-right",
        id: "add-more-column",
        type: "button",
        title: t("activities.add_more_column") %>
    </div>
    <div>
      <table id="activities" class="table table-bordered" >
        <thead>
          <%= render "header", f: f %>
        </thead>
        <tbody>
          <%= f.fields_for :tasks, @sprint.tasks do |activity_builder| %>
            <%= render "row", activity_builder: activity_builder,
              row: activity_builder.index,
              type: activity_class(activity_builder.object), f: f %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div>
      <div class="dropdown col-md-1">
        <button class="btn btn-xs btn-primary dropdown-toggle glyphicon glyphicon-plus"
          type="button" data-toggle="dropdown">
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <% Settings.sprint_add_more_activities.each do |value| %>
            <li class="add-more-sprint-value center"><span class="button"><%= value %></span></li>
            <li class="divider"></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
