<%= render "shared/sprint_work_performance_tab", project: @project, sprint: @sprint,
  active_tab: nil %>
<%= render "shared/category_tab", active_tab: @sprint.id,
  project: @project, f: nil %>
<div id="sprints" class="edit_sprint" data-project="<%= @project.id %>"
  data-sprint="<%= @sprint.id %>">
  <h2><%= t "sprints.edit.assignee" %></h2>
  <div class="row">
    <div class="col-md-8" id="list_assignees">
      <table class="table table-inverse" id="assignees">
        <thead>
          <th class="index"><%= t "sprints.edit.index" %></th>
          <th class="assignee_name"><%= t "sprints.edit.name" %></th>
          <th class="action"><%= t "sprints.edit.action" %></th>
        </thead>
        <tbody>
          <% @sprint.assignees.each_with_index do |assignee, index| %>
            <tr id="assignee-<%= assignee.id %>">
              <td class="index"><%= index + 1 %></td>
              <td class="assignee_name"><%= assignee.user_name %></td>
              <td class="action">
              <span class="btn btn-danger btn-xs" id="delete_assignee">
                <i class="fa fa-times" aria-hidden="true"></i>
              </span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-4" id="add_assignees">
      <h4 class="text-center"><%= t "sprints.edit.add_assignee" %></h4>
      <%= form_tag project_sprint_assignees_path(@project, @sprint), method: :post,
          id: "add_assignee_sprint" do %>
        <label><%= t "sprints.edit.members" %>:</label>
        <%= select_tag "member_ids[]",
          options_for_select(@assignees_not_in_sprint.collect{|a| [a.user_name, a.id]}),
          {class: "form-control", id: "assignee", multiple: :true} %>
        <br>
        <%= submit_tag t("sprints.edit.add"), class: "btn btn-primary",
          id: "add_assignee_button" %>
      <% end %>
    </div>
  </div>
</div>
