<%= render "shared/category_tab", project: @project, 
  active_tab: Settings.tabs.overview_project %>
<div id="projects">
  <div class="button pull-right">
    <%= link_to t("buttons.delete"), admin_project_path, method: :delete,
      class: "btn btn-danger", data: {confirm: t("projects.delete.confirm")} %>
    <%= link_to t("buttons.edit"), edit_admin_project_path(@project),
      class: "btn btn-primary" %>
  </div>
  <div class="row">
    <div class="col-md-9 project-description">
      <ul>
        <li><%= label_tag :project, t("projects.show.project_name") %></li>
        <li><%= @project.name %></li>
      </ul>
      <ul>
        <li><%= label_tag :description, t("projects.show.description") %></li>
        <li><%= @project.description %></li>
      </ul>
      <ul>
        <li><%= label_tag :start_date, t("projects.show.start_date") %></li>
        <li><%= @project.start_date %></li>
      </ul>
      <ul>
        <li><%= label_tag :end_date, t("projects.show.end_date") %></li>
        <li><%= @project.end_date %></li>
      </ul>
    </div>
    <div class="col-md-3 box">
      <ul>
        <li><%= label_tag :manager, t("project.show.manager") %></li>
        <li><%= @manager.name %></li>
      </ul>
      <ul>
        <li><%= label_tag :member, t("project.show.member") %></li>
        <% @assignees.each do |assignee| %>
          <li><%= assignee.user_name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
