<%= render "shared/category_tab", project: @project,
  active_tab: Settings.tabs.overview_project %>
<div id="projects">
  <div class="button pull-right">
    <div class="dropdown pull-right">
      <button id="dLabel" type="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"
        class="btn btn-default">
        <span class="glyphicon glyphicon-align-justify"
          aria-hidden="true"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right"
        aria-labelledby="dLabel">
        <li>
          <%= link_to t("buttons.edit"), edit_admin_project_path %>
        </li>
        <li>
          <%= link_to t("buttons.delete"), admin_project_path, method: :delete,
            data: {confirm: t("projects.delete.confirm")} %>
        </li>
      </ul>
    </div>
  </div>
  <div class="subject-content">
    <div class="row">
      <div class="col-md-9 project-description">
        <h3><%= @project.name %></h3>
        <p><i><%= @project.description %></i></p>
        <p class="label"><%= t "projects.show.start_date" %></p>
        <p><%= @project.start_date %></p>
        <p class="label"><%= t "projects.show.end_date" %></p>
        <p><%= @project.end_date %></p>
      </div>
      <div class="col-md-3 box">
        <p class="label"><%= t "project.show.manager" %></li>
        <p><%= link_to @manager.name, user_path(@manager) %></p>
        <p class="label"><%= t "project.show.member" %></li>
        <p class="list-user">
          <% @assignees.each do |assignee| %>
            <%= link_to assignee.user_name, user_path(assignee.user) %>,
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
