<div class="row">
  <div class="col-md-8" id="list_member_project" data-project="<%= @project.id %>">
    <table class="table table-inverse" >
      <thead>
        <tr>
          <td class="index"><%= t "projects.settings.index" %> </td>
          <td class="member_name"><%= t "projects.settings.name" %> </td>
          <td class="member_role"><%= t "projects.settings.role" %> </td>
          <td class="action"><%= t "projects.settings.action" %></td>
        </tr>
      </thead>
      <tbody>
        <% @project.members.each_with_index do |member, index| %>
          <tr class="member-<%= member.id %>">
            <td class="index"><%= index +1 %></td>
            <td class="member_name" data-user-id="<%= member.user_id %>">
              <%= member.user_name %>
            </td>
            <td class="member_role"><%= member.role %></td>
            <td class="action">
              <span class="btn btn-primary btn-xs" id="edit_role_member">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </span>
              &ensp;
              <span class="btn btn-danger btn-xs" id="delete_member">
                <i class="fa fa-times" aria-hidden="true"></i>
              </span>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4" id="add_member">
    <center><h4><strong><%= t "projects.settings.add_member" %></strong></h4></center>
    <br>
    <%= form_tag project_project_members_path(@project), method: :post,
      id: "form_add_member" do %>
      <div class="select_member">
        <strong><%= t "projects.settings.name" %>: </strong><br>
        <%= autocomplete_field_tag :user_name, nil, autocomplete_user_name_projects_path,
          data: {noMatchesLabel: t("projects.settings.nomatch")},
          update_elements: {id: "user_id"}, data: {delimiter: ","}, multiple: true,
          class: "form-control", id: "add_member_project",
          placeholder: t("projects.settings.add_member_input") %>
      </div>
      <div class="choose_role_member">
        <strong><%= t "projects.settings.role" %>: </strong><br>
        <% ProjectMember.roles.each do |key, value| %>
          <%= radio_button_tag :role, key, class: "role_member_radio" %>
          <%= key.humanize.capitalize %>
          <br>
        <% end %>
      </div>

      <%= submit_tag t("projects.settings.add"), class: "btn btn-primary btn-xs",
        id: "add_member_button" %>
    <% end %>
  </div>
</div>
