<%= render "shared/category_tab", project: @project,
  active_tab: Settings.tabs.overview_project, f: nil %>
<div class="project_setting">
  <div class ="row">
    <h3><%= @project.name %></h3>
    <%= form_for @project do |f| %>
      <ul class="nav nav-tabs" id="setting_project">
        <li>
          <%= link_to t("projects.edit.infomation"), "#informations", data: {toggle: "tab"} %>
        </li>
        <li>
          <%= link_to t("projects.show.member"), "#project_members", data: {toggle: "tab"} %>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="informations">
          <%= render "setting_information", f: f %>
        </div>

        <div class="tab-pane" id="project_members">
          <%= render "setting_members" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
