<div id="projects">
  <div class="row content">
    <div class="col-md-5">
      <h2><%= t :home %></h2>
    </div>
    <div class="col-md-7">
      <% if @projects.any? %>
        <div class="project box">
          <h2><%= t "projects.title" %></h2>
          <ul>
            <% @projects.each do |project| %>
              <li><%= link_to project.name, project %></li>
              <% if @sprints.any? %>
                <div class="sprint box">
                  <h5><%= t "sprints.title" %></h5>
                  <ul>
                    <% @sprints.each do |sprint| %>
                      <% if project.sprints.include? sprint%>
                        <li><%= link_to sprint.name, sprint %></li>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
