<%= render "shared/category_tab", project: @project,
  active_tab: Settings.tabs.overview_project, f: nil %>
<div id="projects">
  <div class="subject-content">
    <div class="row">
      <div class="col-md-9 project-description">
        <h3><%= @project.name %></h3>
        <p class="start-date"><%= @project.start_date %></p>
        <div class="master-plan">
          <p class="label"><%= t "projects.show.master_plan" %></p>
          <div>
            <% @project.sprints.each_with_index do |sprint, index| %>
              <div class="sprint-<%= sprint.days.count %>-days" >
                <div class="start-sprint"><%= sprint.start_date %></div>
                <div class="end-sprint"><%= sprint.end_date %></div>
                <div class="master-sprint-<%= index % 10 + 1 %>"></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <p class="label">
            <i class="fa fa-users"></i>
            <%= t "projects.show.member" %>
          </p>
          <p class="list-user">
            <%= t "projects.show.manager" %>:
            <% @project.managers.each_with_index do |manager, index| %>
              <%= link_to manager.user_name, "#" %><%= (index == @project.managers.size - 1)  ? "." : "," %>
            <% end %>
          </p>
          <p class="list-user">
            <%= t "projects.show.developer" %>:
            <% @project.developers.each_with_index do |developer, index| %>
              <%= link_to developer.user_name, "#" %><%= (index == @project.developers.size - 1)  ? "." : "," %>
            <% end %>
          </p>
        </div>
        <div class="box">
          <p class="label"><%= t "projects.show.spent_time" %></p>
          <p><i class="fa fa-clock-o"></i> <%= t "projects.show.hours" %></p>
        </div>
        <% if can? :update, @project %>
          <div class="box">
            <p class="label"><%= t "projects.show.action" %></p>
            <p>
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <%= link_to t("projects.show.setting"), edit_project_path(@project) %>
            </p>
          </div>
        <% end %>
        <div class="box">
          <p class="label"><%= t "projects.show.status" %></p>
          <p></p>
          <p>
            <% if @project.init? || @project.in_progress? %>
              <span class="btn btn-info btn-xs" id="status-project">
                <strong><%= @project.status.humanize.titleize %></strong>
              </span>
            <% else %>
              <span class="btn btn-danger btn-xs" id="status-project">
                <strong><%= @project.status.humanize.titleize %></strong>
              </span>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
