<%= form_for [:admin, project, sprint], id: "lost_hour_form" do |f| %>
  <div class="col-md-6" id="burndown_chart">
  </div>
  <div class="col-md-6">
    <table class="table table-bordered" id="lost_hour_table"
      data-number-assignees="<%= sprint.assignees.size %>"
      data-number-work-day="<%= sprint.work_day %>">
      <tbody>
        <tr class="lost-hour-row">
          <td class="header_column"><%= t "lost_hour.lost_hour" %></td>
          <% sprint.work_day.times do |index| %>
              <td id="lost-hour-<%= index %>">
                <%= text_field_tag nil, index == 0 ? total_lost_hour :
                  sum_lost_hour[index], disabled: true, class: "body_column" %>
              </td>
          <% end %>
        </tr>
        <tr>
          <td class="header_column"><%= t "lost_hour.work_hour" %></td>
            <% sprint.work_day.times do |index| %>
              <td id="work-hour-<%= index %>">
                <%= text_field_tag nil, index == 0 ? sum_lost_hour[index] : "",
                  disabled: true, class: "body_column" %>
              </td>
            <% end %>
        </tr>
        <% @sprint.time_logs.group_by(&:assignee).each_with_index do |(assignee,time_logs), index| %>
          <tr class="assignee-row-<%= index %>">
            <td class="assignees_name"><%= assignee.user.name %></td>
            <%= f.fields_for :time_logs, time_logs do |time_log_builder| %>
              <td class="assignee-col-<%= time_log_builder.object.work_date %>">
                <%= time_log_builder.hidden_field :assignee_id,
                  value: assignee.id %>
                <%= time_log_builder.hidden_field :work_date,
                  value: get_work_date(time_log_builder.index, @sprint) %>
                <%= time_log_builder.text_field :lost_hour, type: :number %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <div class="col-md-offset-11">
    <button type="submit" class="btn btn-info"><%= t "lost_hour.save" %></button>
  </div>
  </div>
<% end %>
