<%= render "shared/category_tab", project: @project, active_tab: @sprint.id %>
<div class="sprints">
  <div class="button pull-right">
    <%= link_to t("buttons.edit"), edit_admin_project_sprint_path(@project, @sprint),
      class: "btn btn-primary" %>
    <%= link_to t("buttons.delete"), admin_project_sprint_path(@project, @sprint),
      method: :delete, class: "btn btn-danger",
      data: {confirm: t("projects.delete.confirm")} %><br>
    <%= link_to t("work_performances.view"),
      admin_project_sprint_work_performances_path(@project, @sprint) %>
  </div>
  <p><%= @sprint.description %></p>
</div>
