<tr>
  <td><%= product_backlog.category %></td>
  <td><%= product_backlog.story %></td>
  <td class="point_number"><%= product_backlog.priority %></td>
  <td class="point_number"><%= product_backlog.estimate %></td>
  <td class="point_number"><%= product_backlog.actual %></td>
  <td class="point_number"><%= product_backlog.remaining %></td>
  <td><%= product_backlog.project_name %></td>
  <td>
    <i class="fa fa-pencil-square-o fa-2x edit_icon" aria-hidden="true"></i>
    <i class="fa fa-trash fa-2x delete_icon" aria-hidden="true"></i>
  </td>
</tr>
