<tr id="backlog-row-<%= @product_backlog.id %>" data-productbacklog-index="<%= @row_number %>"
  data-product-backlog-id="<%= @product_backlog.id %>">
  <td class="id"><%= @row_number+ 1 %></td>
  <%= hidden_field_tag "product_backlogs[#{@product_backlog.id}][id]",
    @product_backlog.id %>
  <td class="story-id">
    <%= text_field_tag "product_backlogs[#{@product_backlog.id}][story_id]",
      @product_backlog.story_id, title: "#{@product_backlog.story_id}",
      class: "product-backlog-story" %>
  </td>
  <td class="category"><%= text_field_tag "product_backlogs[#{@product_backlog.id}][category]",
    @product_backlog.category,
    title: "#{@product_backlog.category}", class: "product-backlog-category-#{@row_number}" %></td>
  <td class="story"><%= text_field_tag "product_backlogs[#{@product_backlog.id}][story]",
    @product_backlog.story, title: "#{@product_backlog.story}",
    class: "product-backlog-story" %></td>
  <td class="sprint"><%= select_tag "product_backlogs[#{@product_backlog.id}][sprint_id]",
    options_for_select(@sprints.collect {|p| [p.name, p.id]}, @product_backlog.sprint_id),
    include_blank: true %></td>
  <td class="priority"><%= text_field_tag "product_backlogs[#{@product_backlog.id}][priority]",
    @product_backlog.priority, class: "center" %></td>
  <td class="estimate"><%= text_field_tag "product_backlogs[#{@product_backlog.id}][estimate]",
    @product_backlog.estimate, class: "center" %></td>
  <td class="actual"><%= text_field_tag "product_backlogs[#{@product_backlog.id}][actual]",
    @product_backlog.actual, class: "center" %></td>
  <td class="remaining"><%= text_field_tag "product_backlogs[#{@product_backlog.id}][remaining]",
    @product_backlog.remaining, class: "center" %></td>
  <% if can? :destroy, @product_backlog %>
    <td class="action">
      <%= check_box_tag "delete-userstory", @product_backlog.id, false,
        class: "delete-userstory-#{@product_backlog.id}" %>
    </td>
  <% end %>
</tr>
