<div class="container" id="product_backlogs">
  <div class="product_backlog">
    <%= form_for :product_backlog, html: {id: "product_backlog_form"}  do |f| %>
      <table class="product_backlog_table_scroll table table-bordered"
        id="product_backlogs">
        <thead>
          <tr>
            <th class="id">#</th>
            <th class="story-id"><%= t "product_backlog.index.id" %></th>
            <th class="category"><%= t "product_backlog.index.category" %></th>
            <th class="story"><%= t "product_backlog.index.story" %></th>
            <th class="sprint"><%= t "product_backlog.index.sprint" %></th>
            <th class="priority"><%= t "product_backlog.index.priority" %></th>
            <th class="estimate"><%= t "product_backlog.index.estimate" %></th>
            <th class="actual"><%= t "product_backlog.index.actual" %></th>
            <th class="remaining"><%= t "product_backlog.index.remaining" %></th>
            <th class="action">
              <i class="fa fa-trash fa-2x delete_icon delete-product-backlog" aria-hidden="true"
                data-project-id="<%= @project.id %>">
              </i>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @product_backlogs.each_with_index do |product_backlog, index| %>
            <%= render "product_backlog", product_backlog: product_backlog, index: index,
              type: product_backlog_class(product_backlog) %>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <div id="product-backlogs">
      <div class="dropdown col-md-1", id="add-more-user-story">
        <button class="btn btn-xs btn-primary dropdown-toggle glyphicon glyphicon-plus"
          type="button" data-toggle="dropdown">
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <% Settings.options_to_add_more.each do |value| %>
            <li class="add-more-product-value center"><span><%= value %></span></li>
          <% end %>
        </ul>
      </div>
      <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-floppy-disk",
        project_id: @project.id), project_product_backlogs_path({project_id: @project.id}),
        class: "disabled btn btn-xs btn-primary", id: "save-product-backlog",
        type: "button",  title: t("activities.add_more_row") %>
    </div>
    <br>
    <div class="clearfix"></div>
    <div class="row">
      <%= render "shared/category_tab", project: @project,
      active_tab: Settings.tabs.project_backlog, f: nil %>
    </div>
  </div>
</div>
